{% extends 'jwxt/base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="col-md-12 column">
        <h2 class="bg-danger">公告<i><small><a href="/post/" class="text-info">更多</a></small></i></h2>
        {% if posts_list %}
        <!--<ul>-->
            <!--{% for post in posts_list %}-->
            <!--<li><a href="/post/{{ post.id }}/">{{post.title}}</a></li>-->
            <!--{% endfor %}-->
            <!--<li>-->
                <!--<a href="#" target="_blank">更多</a>-->
            <!--</li>-->
        <!--</ul>-->
        <marquee direction="left" onMouseOut="start()" onMouseOver="stop()">
            {% for post in posts_list %}
            <a href="/post/{{ post.id }}/">{{post.title}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </marquee>
        {% else %}
        <p> 没有公告</ p>
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-6 column">
        <h2 class="bg-info">课件<small><a href="/subjectfile/">更多</a></small></h2>
        {% if subjectfile_list %}
        <ul>
            {% for subjectfile in subjectfile_list %}
            <li><a href="/subjectfile/{{ subjectfile.id }}/">{{subjectfile.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> 没有课件</p>
        {% endif %}
    </div>
    <div class="col-md-6 column">
        <h2 class="bg-info">作业<small><a href="/homework/">更多</a></small></h2>
        {% if homework_list %}
        <ul>
            {% for homework in homework_list %}
            <li><a href="/homework/{{ homework.id }}/">{{homework.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> 没有作业</ p>
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-6 column">
        <h2 class="bg-info">讨论<small><a href="/discuss/">更多</a></small> <small> <a href="/discuss/new">新讨论</a> </small></h2>
        {% if discuss_list %}
        <ul>
            {% for discuss in discuss_list %}
            <li><a href="/discuss/{{ discuss.id }}/">{{discuss.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> 没有讨论</p>
        {% endif %}
    </div>
    <div class="col-md-6 column">
        <h2 class="bg-info">测试<small><a href="#">更多</a></small></h2>
    </div>
</div>
{% endblock %}
